<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Screen Streaming with MFD Buttons</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Additional CSS styles */



        .btn {
           
            background-size: cover;
            /* Adjust the background size as needed */
            background-repeat: no-repeat;
            background-color: #173518;
     
            color: white;
        

          
            
            margin-top:20px;
            margin-top:20px;
        }

        /* Button positions */

        /* Remove default margin and padding from body */

    </style>
</head>

<body>
    <h1 class="text-center">Screen Streaming with MFD Buttons</h1>
    <div class="container">
        <div class="CDU_PANEL col-12">
            
            <div class="col-1">
                        <div class="col align-items-center col-12">
                        <button id='STEER_+' type="button" class="btn  btn-default btn-lg col-2">+ </button>
                        <button id='STEER_-' type="button" class="btn  btn-default btn-lg col-2">- </button>
                    </div>
            </div>

        </div>
        <div class="row align-items-start">
            <div class="col-6">

                <div class="btn-group col-12">
                    <div class="col align-items-center col-12">
                        <button id='button1' type="button" class="btn  btn-default btn-lg col-2">1 </button>
                        <button id='button2' type="button" class="btn  btn-default btn-lg col-2">2 </button>
                        <button id='button3' type="button" class="btn  btn-default btn-lg col-2">3 </button>
                        <button id='button4' type="button" class="btn  btn-default btn-lg col-2">4 </button>
                        <button id='button5' type="button" class="btn  btn-default btn-lg col-2">5 </button>
                    </div>
                </div>

                <div <div class="col-12">

                    <div class="row align-items-start col-12">
                        <div class="btn-group col">
                            <div class="row align-items-center col-12">
                                 
                                 
                                 
                                 
                                <button id='button6' type="button" class="btn  btn-default btn-lg col">1 </button>
                                 
                                 
                                 
                                 
                                <button id='button7' type="button" class="btn  btn-default btn-lg col">2 </button>
                                 
                                 
                                 
                                 
                                <button id='button8' type="button" class="btn  btn-default btn-lg col">3 </button>
                                 
                                 
                                 
                                 
                                <button id='button9' type="button" class="btn  btn-default btn-lg col">4 </button>
                                 
                                 
                                 
                                 

                                <button id='button10' type="button" class="btn  btn-default btn-lg col">5 </button>
                            </div>
                        </div>


                        <div class="col-9">
                            <img src="{{ url_for('video_feed1') }}" class="img-fluid col-12 " alt="First video feed">
                        </div>

                        <div class="btn-group col">
                            <div class="row align-items-center col-12">
                                 
                                 
                                 
                                 
                                <button id='button11' type="button" class="btn  btn-default btn-lg col">1 </button>
                                 
                                 
                                 
                                 
                                <button id='button12' type="button" class="btn  btn-default btn-lg col">2 </button>

                                 
                                 
                                 
                                  <button id='button13' type="button" class="btn  btn-default btn-lg col">3 </button>

                                 
                                 
                                 
                                 <button id='button14' type="button" class="btn  btn-default btn-lg col">4 </button>

                                 
                                 
                                 
                                 <button id='button15' type="button" class="btn  btn-default btn-lg col">5 </button>
                            </div>
                        </div>




                        <!-- Buttons near the edges of the first stream -->

                    </div>

                </div>
                <div class="btn-group col-12">
                    <div class="col align-items-center col-12">
                        <button id='button16' type="button" class="btn  btn-default btn-lg col-2">1 </button>
                        <button id='button17' type="button" class="btn  btn-default btn-lg col-2">2 </button>
                        <button id='button18' type="button" class="btn  btn-default btn-lg col-2">3 </button>
                        <button id='button19' type="button" class="btn  btn-default btn-lg col-2">4 </button>
                        <button id='button20' type="button" class="btn  btn-default btn-lg col-2">5 </button>
                    </div>
                </div>

            </div>

            
 <div class="col-6">

                <div class="btn-group col-12">
                    <div class="col align-items-center col-12">
                        <button id='button21' type="button" class="btn  btn-default btn-lg col-2">1 </button>
                        <button id='button22' type="button" class="btn  btn-default btn-lg col-2">2 </button>
                        <button id='button23' type="button" class="btn  btn-default btn-lg col-2">3 </button>
                        <button id='button24' type="button" class="btn  btn-default btn-lg col-2">4 </button>
                        <button id='button25' type="button" class="btn  btn-default btn-lg col-2">5 </button>
                    </div>
                </div>

                <div <div class="col-12">

                    <div class="row align-items-start col-12">
                        <div class="btn-group col">
                            <div class="row align-items-center col-12">
                                 
                                 
                                 
                                 
                                <button id='button26' type="button" class="btn  btn-default btn-lg col">1 </button>
                                 
                                 
                                 
                                 
                                <button id='button27' type="button" class="btn  btn-default btn-lg col">2 </button>
                                 
                                 
                                 
                                 
                                <button id='button28' type="button" class="btn  btn-default btn-lg col">3 </button>
                                 
                                 
                                 
                                 
                                <button id='button29' type="button" class="btn  btn-default btn-lg col">4 </button>
                                 
                                 
                                 
                                 

                                <button id='button30' type="button" class="btn  btn-default btn-lg col">5 </button>
                            </div>
                        </div>


                        <div class="col-9">
                            <img src="{{ url_for('video_feed1') }}" class="img-fluid col-12 " alt="First video feed">
                        </div>

                        <div class="btn-group col">
                            <div class="row align-items-center col-12">
                                 
                                 
                                 
                                 
                                <button id='button31' type="button" class="btn  btn-default btn-lg col">1 </button>
                                 
                                 
                                 
                                 
                                <button id='button32' type="button" class="btn  btn-default btn-lg col">2 </button>

                                 
                                 
                                 
                                  <button id='button33' type="button" class="btn  btn-default btn-lg col">3 </button>

                                 
                                 
                                 
                                 <button id='button34' type="button" class="btn  btn-default btn-lg col">4 </button>

                                 
                                 
                                 
                                 <button id='button35' type="button" class="btn  btn-default btn-lg col">5 </button>
                            </div>
                        </div>




                        <!-- Buttons near the edges of the first stream -->

                    </div>

                </div>
                <div class="btn-group col-12">
                    <div class="col align-items-center col-12">
                        <button id='button36' type="button" class="btn  btn-default btn-lg col-2">1 </button>
                        <button id='button37' type="button" class="btn  btn-default btn-lg col-2">2 </button>
                        <button id='button38' type="button" class="btn  btn-default btn-lg col-2">3 </button>
                        <button id='button39' type="button" class="btn  btn-default btn-lg col-2">4 </button>
                        <button id='button0' type="button" class="btn  btn-default btn-lg col-2">5 </button>
                    </div>
                </div>

            </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Add event listeners to buttons for the first stream
        document.getElementById('button1').addEventListener('click', function() {
            simulateShift1AndSendToServer('button1');
        });
        document.getElementById('button2').addEventListener('click', function() {
            simulateShift1AndSendToServer('button2');
        });
        // Add event listeners to buttons for the second stream
        document.getElementById('button21').addEventListener('click', function() {
            simulateShift1AndSendToServer('button21');
        });
        document.getElementById('button22').addEventListener('click', function() {
            simulateShift1AndSendToServer('button22');
        });

        // Function to simulate Shift+1 and send to server
        async function simulateShift1AndSendToServer(id) {
            // Create KeyboardEvent based on button ID
            let key;
            switch (id) {
                case 'button1':
                    key = '1';
                    break;
                case 'button2':
                    key = '2';
                    break;
                    // Add cases for other buttons as needed
                default:
                    key = '';
                    break;
            }
            const event = new KeyboardEvent('keydown', {
                key: key,
                keyCode: key.charCodeAt(0), // Get ASCII code for the key
            });

            // Simulate Shift+1 locally
            document.dispatchEvent(event);

            // Send the command to the server
            fetch('/send-keyboard-shortcut', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    shortcut: 'shift_' + key
                }) // Send the shortcut information
            }).then(response => {
                // Handle response from server if needed
                console.log('Shortcut sent to server');
            }).catch(error => {
                console.error('Error sending shortcut to server:', error);
            });
        }
    </script>
</body>

</html>